@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(-45deg, #2da1be, #170e5a, #24c464, #043328);
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

span{
    color: #99ecff;
}
.container{
    width: 100%;
    position: relative;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.4));
    backdrop-filter: blur(10px);
    border-bottom: .2px solid rgba(255, 255, 255, .2);
    width: 100%;
    height: 70px;
    padding-inline: 10vw;
    z-index: 100;
    align-items: center;
    transition: .3s;
}
.nav .logo{
    position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.nav-menu,
.nav_menu_list{
    display: flex;
    column-gap: -30px;
}
.nav-menu .nav-list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding-inline: 10px;
    margin-inline: 15px;
}
.active-link{
    position: relative;
    color: #99ecff;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: #99ecff;
    transition: .4s;
    color: #99ecff;
}

.wrapper{
    padding-inline: 10vw;
}

.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    width: 50%;
    margin-top: 10%;
}

.featured-text .hello{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: aliceblue;
}

.featured-name{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #99ecff;
}

.typedText{
    font-family: sans-serif;
    color: #99ecff;
    font-size: 60px;
    font-weight: 800;
    text-transform: capitalize;
}

.text-info{
    font-size: 16px;
    margin-bottom: 30px;
    color: aliceblue;
}

.text-btn{
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    gap: 20px;
}

.text-btn .btn{
    border: none;
    color: #1a1a1a;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.btn{
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background: #99ecff;
    font-weight: 500;
    transition: all 0.5s ease;
}

.btn i{
    margin-right: 10px;
}

i{
    font-size: 16px;
}

.social_icons{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.social_icons .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
    overflow: hidden;
    margin: 5px 0;
    background: #99ecff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-out;
}

.social_icons .button:nth-child(1):hover .icon{
    background: #e1306c;
}
.social_icons .button:nth-child(2):hover .icon{
    background: #0077b5;
}
.social_icons .button:nth-child(3):hover .icon{
    background: #1da1f2;
}
.social_icons .button:nth-child(4):hover .icon{
    background: #333;
}

.social_icons .button:hover{
    width: 150px;
}

.social_icons .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.4s ease-out;
}

.social_icons .button .icon i{
    line-height: 40px;
    font-size: 20px;
    transition: all 0.4s ease-out;
}
.social_icons .button:hover .icon i{
    color: aliceblue;
}

.social_icons .button span{
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 5px;
    color: #1a1a1a;
}

/*----- About Page -----*/

.about{
    width: 100%;
    min-height: 100vh;
}
.about-container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.about-content{
    float: right;
    width: 55%;
}
.about-image{
    float: left;
    width: 40%;
}
.about-image img{
    width: 100%;
    height: 400px;
}
.about-content .title{
    text-transform: uppercase;
    font-size: 28px;
    color: aliceblue;
    font-weight: 400;
}
.about-content .content h3{
    margin-top: 20px;
    color: aliceblue;
    font-weight: 400;
}
.about-content .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: aliceblue;
    font-weight: 400;
}

.content .button{
    position: relative;
    display: inline-block;
    border: 2px solid #99ecff;
    border-radius: 12px;
    padding: 8px 30px;
    margin-top: 15px;
    color: #99ecff;
    font-weight: 550;
    text-decoration: none;
    transition: color .3s linear;
    z-index: 1;
}
.content .button:hover{
    color: #1a1a1a;
}
.content .button::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #99ecff;
    border-radius: 10px;
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}
.content .button:hover::before{
    transform: scaleX(1);
}


/* Projects section */
.projects{
    width: 100%;
    min-height: 100vh;
}
.projects-container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.projects-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 28px;
    color: aliceblue;
}

.project-item{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-info h1{
    color: #99ecff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}
.project-info h2{
    color: aliceblue;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0;
}
.project-info p{
    padding-right: 20px;
    color: aliceblue;
    font-weight: 300;
    font-size: 15px;
}
.project-img-border{
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    border: 5px solid #99ecff;
}
.project-img-border img{
    width: 420px;
    height: 420px;
    padding: 10px 0 0 10px;
}
/* End Projects section */

/* Contact section */
.contact-container{
    padding-top: 2rem;
    padding-inline: 15vh;
    padding-bottom: 2rem;
}

.section-title{
    color: aliceblue;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.section-subtitle{
    margin-top: 5rem;
    color: aliceblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.contact-form,
.contact-group{
    display: grid;
    row-gap: 1rem;
}

.contact-from{
    position: relative;
}

.contact-input{
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: #99ecff41;
    color: aliceblue;
}

.contact-input::placeholder{
    color: aliceblue;
}

.contact-form textarea{
    height: 11rem;
    resize: none;
    margin-bottom: 2rem;
}

.contact-button{
    justify-self: center;
    cursor: pointer;
    padding: 10px;
    background: #99ecff;
    font-size: 15px;
    border-radius: 10px;
    color: #1a1a1a;
}

.contact-message{
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: 20px;
    color: aliceblue;
}
/* End of contact section */


/* Footer section */

.footer-container{
    width: 100%;
    background: #022730;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer-info{
    text-align: center;
    color: aliceblue;
}
.footer-info h5{
    font-weight: 400;
}
.footer-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Footer .social-item img {
    width: 50px;
    height: 50px;
    filter: grayscale(1);
    transition: 0.3s ease filter;
}
#Footer .social-item:hover img {
    filter: grayscale(0);
}
/* End of footer section */